select,
input {
  width: 190px;
  height: 28px;
}

label::after {
  content: ":\00a0";
}

.employee-info div {
  margin: 1rem 0;
}

.employee-info label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.form-header {
  text-align: center;
  margin-top: 1rem;
}

.sub-heading {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 5rem;
}

.addresses label {
  width: 90px;
}
